#container {
	width: 384px;
	height: 384px;
	border: 1px solid black;
	/*padding: 1px;*/
}

.square {
	width: 20px;
	height: 20px;
	border: 1px solid black;
	display: inline-block;
	margin: 1px;
}

.hovered {
	background-color: #FF0000;
}